html {
  background: #242424;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
}

.subtitle {
  color: #ffe895;
  opacity: 0.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: #c9c9c9;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.hover-underline {
  text-decoration: underline 1px rgba(0, 0, 0, 0);
  text-underline-offset: 5px;
  transition: text-decoration-color 300ms;
}

.post:hover .hover-underline {
  text-decoration-color: rgba(255, 255, 255, 1);
}

@keyframes glowingText {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}

.glowing-animation {
  animation: glowingText 2s infinite;
}

.icon-inline {
  display: inline-block; /* Ensures the icon is inline */
  vertical-align: middle; /* Centers the icon vertically with adjacent text */
  margin-right: 4px; /* Optional: adds some space between the icon and the text */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-spin {
  animation: spin 2s linear infinite;
}

#clickSong,
#refreshSong {
  cursor: pointer;
}

.gradient-link {
  font-weight: bold;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #00abda, #1476ff);
}

.gradient-link:hover::after {
  background-image: linear-gradient(to right, #00abda, #1476ff);
}

.underline-hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  opacity: 60%;
  transition: opacity 0.3s;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0); /* Invisible shadow */
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 171, 218, 0.6); /* Glowing effect */
  }
}

.image-music-effect {
  border-color: #00abda;
  cursor: pointer;
  animation: glow 2s infinite ease-in-out;
}

.image-effect:hover {
  border-color: #00abda;
  transform: scale(1.05);
  cursor: pointer;
  animation: glow 2s infinite ease-in-out;
}

.underline-hover:hover {
  opacity: 100%;
}

.icon-inline {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
